@import "./quizz_card.css";
@import "./profile.css";
@import "./variables.css";
@import "./form.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}
main {
  height: 100vh;
}
h1,
h2 {
  font-family: "Monoton", cursive;
  color: var(--primary_color);
  text-shadow: 10px 10px 50px var(--light_shadow);
}

h3,
h4,
td {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Shadows Into Light", cursive;
  font-size: 1.5em;
}

p.profile {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

main {
  padding: 70px 0;
  background-color: var(--background_color);
  overflow: hidden; /* Hide scrollbars */
}

header {
  z-index: 1;
  position: fixed;
  height: 75px;
  top: 0;
  width: 100%;
  background-color: var(--header_color);
  box-shadow: 10px 0px 20px var(--header_color);
  text-align: center;
  padding: 10px;
}

footer {
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--header_color);
  box-shadow: -10px 0px 20px var(--header_color);
}

.hidden {
  display: none;
}

.footer__link > img {
  height: 45px;
  filter: var(--primary_icon);
}
